<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Reservas</title>
    <link rel="stylesheet" href="/static/css/style_history.css">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="/static/images/logo.png" alt="Logo de ApeParking">
            <span class="logo-text">ApeParking</span>
        </div>
        <nav>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Cerrar Sesión</a>
        </nav>
    </header>

    <main>
        <h1>Historial de Reservas</h1>
        <section>
            {% if history %}
                <ul>
                    {% for item in history %}
                        <li>
                            <strong>Espacio:</strong> {{ item.parking_space_id }} <br>
                            <strong>Inicio:</strong> {{ item.start_time }} <br>
                            <strong>Fin:</strong> {{ item.end_time if item.end_time else 'No definido' }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tienes reservas anteriores.</p>
            {% endif %}
        </section>
    </main>
</body>
</html>
