<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Usuario</title>
    <link rel="stylesheet" href="/static/css/user_dashboard.css">
</head>
<body>
    <!-- Encabezado fijo con logo y navegación -->
    <header class="header">
        <div class="logo">
            <img src="/static/images/logo.png" alt="Logo" class="logo-icon">
            <span class="logo-text">ApeParking</span>
        </div>
        <nav>
            <ul>
                <li><a href="/dashboard/profile?user_id={{ user_id }}">Perfil</a></li>
                <li><a href="/reservations/?user_id={{ user["_id"] }}">Reservas</a></li>
                <li><a href="/user/payments?user_id={{ user_id }}">Pagos</a></li>
                <li><a href="/history?user_id={{ user_id }}">Historial</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    
    <!-- Contenedor principal del Dashboard -->
    <main class="dashboard-container">
       <h1>Bienvenido, {{ user["name"] }}</h1>
        <div class="card-container">
            <div class="card">
                <h2>Perfil</h2>
                <a href="/dashboard/profile?user_id={{ user_id }}" class="button">Ver Perfil</a>
            </div>
            <div class="card">
                <h2>Reservas</h2>
                <a href="/reservations/?user_id={{ user_id }}" class="button">Ver Reservas</a>
            </div>
            <div class="card">
                <h2>Pagos</h2>
                <a href="/user/payments?user_id={{ user_id }}" class="button">Ver Pagos</a>
            </div>
            <div class="card">
                <h2>Historial</h2>
                <a href="/history?user_id={{ user_id }}" class="button">Ver Historial</a>
            </div>
        </div>
    </main>
</body>
</html>
